@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #ffffff;
    --color-secondary: #111827;
    --color-button-primary: #030712;
    --color-tertiary: #4b5563;
    --color-tertiary-rgb: 75, 85, 99; /* rgb code for shadows effect in about section */
}

.dark {
    --color-primary: #030712;
    --color-secondary: #f9fafb;
    --color-button-primary: #f1f1f1;
    --color-tertiary: #d1d5db;
    --color-tertiary-rgb: 209, 213, 219; /* rgb code for shadows effect in about section */
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* html,
body {
    height: 100%;
    overflow: hidden;
} */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    min-height: 100vh;
    /* overflow-y: auto; */
}

/* gradual color transition */
* {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}