---
interface AboutProps {
    about: string;
}

// temp check for about content
const { about } = Astro.props as AboutProps;
const hasAbout = typeof about === "string" && about.trim().length > 0;
---

<section id="about" class="max-w-4xl mx-auto mb-5 py-5">
    <h2 class="text-3xl font-bold text-secondary mb-5">About</h2>

    <div>
        {/* render an about in case there is one */}
        {
            hasAbout && (
                <p class="text-lg leading-relaxed text-tertiary whitespace-pre-line font-medium">
                    {about}
                </p>
            )
        }
    </div>
</section>
