---
interface CardProps {
    username: string;
    label: string;
    link: string;
    icon: string;
}

const { username, label, link, icon } = Astro.props as CardProps;
---

<a href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="group flex items-start justify-between w-full p-5 bg-[#1a1a1a] hover:bg-[#252525] border border-white/5 rounded-2xl transition-all duration-300"
>
    <div class="flex items-center gap-4">
        {/* icon of social media*/}
        <iconify-icon {icon} width="48" class="text-white shrink-0"></iconify-icon>
        <div class="flex flex-col">
            <h3 class="font-bold text-white text-lg leading-tight">{label}</h3>
            <p class="text-neutral-400 text-sm">{username}</p>
        </div>
    </div>

    {/* arrow icon */}
    <iconify-icon
        icon="mdi:arrow-top-right"
        width="24"
        class="text-neutral-500 group-hover:text-white transition-colors group-hover:translate-x-0.5 group-hover:-translate-y-0.5 transition-transform duration-300"
    ></iconify-icon>
</a>
